

.intro-short {
  
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  h2, h4, p {
    margin-bottom: 15px;
  }
  
  button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #2980b9;
  }

  .short-intro {
    max-width: 1000px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    text-align: center;
  }
  
  h4, p {
    margin-bottom: 15px;
  }
  
  img {
    max-width: 80%;
    height: auto;
    margin-bottom: 10px;
  }
  
  .undergrade-head {
    display: flex;
    width: 1000px;
    margin: 0 auto;
    background-color: #f4f4f4;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden; /
  }
  
  .undergrade-head div {
    flex: 1; 
  }
  
  .undergrade-head h1 {
    font-size: 28px;
    color: #333333;
    margin-bottom: 15px;
  }
  
  .undergrade-head p {
    font-size: 16px;
    line-height: 1.6;
    color: #555555;
  }
  
  .undergrade-head img.undergrade-pic {
    max-width: 60%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-left: 20px; 
  }
  .undergrade-head img.undergrade-picz {
    max-width: 40%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-left: 20px; 
  }
  
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .center-container {
    display: flex;
    width: 1000px;
    margin: 0 auto;
    background-color: #f4f4f4;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden; 
  }

  .computer-science-accordion {
    width: 800px; 
    background-color: #fff;              
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  }

  .computer-science-accordion-item {
    border-bottom: 1px solid #ccc;
  }

  .computer-science-accordion-head {
    cursor: pointer;
    padding: 10px;
    background-color: #f4f4f4;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .computer-science-accordion-body {
    display: none;
    padding: 10px;
  }



  